<script src="./js/change-password.js" defer></script>

<div class="signUpContainer">
    <span class="message">Change password</span>
    <span class="title">Reset your password <span>.</span></span>
    <div class="signUpFormContainer">

        <div class="inputContainer password">
            <input type="password" class="input emailInput" placeholder="Current Password" id="cpCurrentPassword">
        </div>
        <div class="inputContainer password">
            <input type="password" class="input passwordInput" placeholder="New Password" id="cpNewPassword">
        </div>
        <div class="inputContainer password">
            <input type="password" class="input passwordInput" placeholder="Confirm New Password"
                id="cpConfirmPassword">
        </div>

        <button class="signUpButton changePasswordButton" id="changepasswordButton">Update Password</button>

    </div>
</div>