<script src="./js/forgot-password.js" defer></script>

<div class="signUpContainer">
    <span class="message">Forgot password</span>
    <span class="title">Change your password <span>.</span></span>
    <div class="signUpFormContainer">

        <div class="inputContainer email">
            <input type="email" class="input emailInput" placeholder="Email" id="fpEmail">
        </div>
        <div class="inputContainer password">
            <input type="password" class="input passwordInput" placeholder="New Password" id="fpNewPass">
        </div>
        <div class="inputContainer password">
            <input type="password" class="input passwordInput" placeholder="Confirm New Password" id="fpConfirmPass">
        </div>

        <button class="signUpButton changePasswordButton" id="forgotPasswordButton">Change Password</button>

    </div>
</div>