<script src="./js/signup.js" defer></script>
<div class="signUpContainer">
    <span class="message">Sign up</span>
    <span class="title">Create new account <span>.</span></span>
    <span class="memberText">Already a Member? <a href="/sign-in">Log In</a> </span>
    <div class="signUpFormContainer">
        <div class="inputContainer name">
            <input type="text" class="input nameInput" placeholder="First Name" id="firstname">
            <input type="text" class="input nameInput" placeholder="Last Name" id="lastname">
        </div>
        <div class="inputContainer email">
            <input type="text" class="input emailInput" placeholder="Email" id="signUpEmail">
        </div>
        <div class="inputContainer password">
            <input type="password" class="input passwordInput" placeholder="Password" id="signUpPassword">
        </div>
        <div class="inputContainer password">
            <input type="password" class="input passwordInput" placeholder="Confirm Password"
                id="signUpConfirmPassword">
        </div>
        <button class="signUpButton" id="signupButton" type="submit">Sign Up</button>
        <form action="/auth/google" method="get">
            <button class="signUpButton forgotPasswordButton"><i class='bx bxl-google'></i> Google</button>
        </form>



    </div>
</div>